<div class="jumbotron">
<h1 align='center'>Bienvenue sur les Bloomitribes</h1>
</div>
<p align='center'> Nous chez bLoomr on croit que les métiers ne sont pas figés dans des cases, entrées par compétences qui peuvent se croiser! </p>
<p align='center'>Clique sur les rectangles pour découvrir les tribus!</p>