
<h1> Les tribus </h1> 
<p> Nous chez bLoomr on croit que les métiers ne sont pas figés dans des cases, entrées par compétences qui peuvent se croiser! </p>
<p> Clique <%= link_to "ici", "http://www.bloomr.org" %> </p>